/* styles.css */
.sidebarLink {
  display: flex;
  color: #00002b;
  justify-content: space-between;
  align-items: center;
  padding: 9px 20px;
  text-decoration: none;
  font-size: 14.5px;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 3px;
  margin-bottom:3px;
  cursor: pointer;
}

.sidebarLink svg {
  fill: #ffffff;
  position: relative;
}

.sidebarLink:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 172, 246, 0.8) 0%,
    rgba(2, 225, 185, 0.79) 91.25%
  );
}

.sidebarLink2:hover {
  background: linear-gradient(
    90deg,
    rgba(0, 172, 246, 0.8) 0%,
    rgba(2, 225, 185, 0.79) 91.25%
  );
  color: #fff;
}
.sidebarLinkActive {
  background: linear-gradient(
    90deg,
    rgba(0, 172, 246, 0.8) 0%,
    rgba(2, 225, 185, 0.79) 91.25%
  );
}
.sidebarLinkActive {
  background: linear-gradient(
    90deg,
    rgba(0, 172, 246, 0.8) 0%,
    rgba(2, 225, 185, 0.79) 91.25%
  );
  color: #fff !important;
}

.sidebarLink2 {
  display: block;
  color: white;
  justify-content: space-between;
  align-items: center;
  padding: 9px 20px 9px 50px;
  text-decoration: none;
  font-size: 14px;
  border-radius: 5px;
  font-weight: 500;
  position: relative;
  margin-bottom: 5px;
  cursor: pointer;
}

.sidebarLink2::before {
  content: '';
  background-color: #818093;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  left: 30px;
  top: 16px;
}
/* Adjust margin as needed for even space */
.sidebarLink2 svg {
    fill: #ffffff;
    position: relative;
    margin-right: 8px;
}

.sidebarLink2:hover::before {
  background-color: #fff;
}

.sidebarLinkActive ::before {
  background-color: #fff !important;
}

/* For RTL Style */
[dir='rtl'] .sidebarLink2 {
  padding: 9px 50px 9px 20px;
}
[dir='rtl'] .sidebarLink2::before {
  left: auto;
  right: 30px;
}

/* For dark mode */
[class='dark'] .sidebarLink,
[class='leftsidebardark'] .sidebarLink {
  color: #f3f3f3;
}
[class='dark'] .sidebarLink svg,
[class='leftsidebardark'] .sidebarLink svg {
  fill: #f3f3f3;
}
[class='dark'] .sidebarLink span,
[class='leftsidebardark'] .sidebarLink svg {
  color: #f3f3f3;
}
[class='dark'] .sidebarLink:hover,
[class='leftsidebardark'] .sidebarLink svg {
  color: #fff;
}
[class='dark'] .sidebarLink:hover span,
[class='leftsidebardark'] .sidebarLink svg {
  color: #fff;
}
[class='dark'] .sidebarLink:hover svg,
[class='leftsidebardark'] .sidebarLink svg {
  fill: #fff;
}

[class='dark'] .sidebarLink2,
[class='leftsidebardark'] .sidebarLink2 {
  color: var(--darkHeadingTextColor);
}
[class='dark'] .sidebarLink2 span,
[class='leftsidebardark'] .sidebarLink2 {
  color: var(--darkHeadingTextColor);
}
[class='dark'] .sidebarLink2:hover,
[class='leftsidebardark'] .sidebarLink2 {
  color: #fff;
}
[class='dark'] .sidebarLink2:hover span,
[class='leftsidebardark'] .sidebarLink2 {
  color: #fff;
}
